.input-phone {
  justify-content: center;
  text-align: center;
  color: #160A36;
  font: riffic free;
}

.rcflogo {
  height: 10vmin;
  /* width: 226; */
  pointer-events: none;
  margin-bottom: 50px;
}

.input-phone-deco {
  /* background-color: red; */
  border-bottom: 3px solid black;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  justify-content: center;
  text-align: center;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* .input-phone-number { 
   width: 350px;
   height: 64px; 
   justify-self: center; 
   text-align: center; 
   background-color: blue; 
   border: transparent;
} */

/* phone input component */
.PhoneInput {
  /* This is done to stretch the contents of this component. */
  border-bottom: 1px solid black;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  display: flex;
  align-items: center;
  justify-self: center;
  align-self: center;
  height: 58px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* phone input text field */
.PhoneInputInput {
  height: 58px;
  border-bottom: 5px;
  background-color: transparent;
  border: 0px;
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
}


/* phone input iso code component  */
.PhoneInputCountry {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: var(--PhoneInputCountrySelect-marginRight);
  padding: 2px;
  width: 100px;
  /* height: 50px; */
  color: #fff;
  border-radius: 10px;
  background-color: #160A36;
}

.PhoneInputCountryIcon--border {
  height: 40px;
  width: 40px;
  /* background-color: red; */
  padding: 2px;
  /* Removed `background-color` because when an `<img/>` was still loading
       it would show a dark gray rectangle. */
  /* For some reason the `<img/>` is not stretched to 100% width and height
       and sometime there can be seen white pixels of the background at top and bottom. */
  /* background-color: var(--PhoneInputCountryFlag-backgroundColor--loading); */
  /* Border is added via `box-shadow` because `border` interferes with `width`/`height`. */
  /* For some reason the `<img/>` is not stretched to 100% width and height
       and sometime there can be seen white pixels of the background at top and bottom,
       so an additional "inset" border is added. */
  box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor),
    inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor);
}

/* drop down arrow */
.PhoneInputCountrySelectArrow {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  margin-left: 20px;
  border-style: solid;
  border-color: white;
  border-top-width: 0;
  border-bottom-width: 2px;
  border-left-width: 0;
  border-right-width: 2px solid;
  transform: var(--PhoneInputCountrySelectArrow-transform);
}

.input-instruction {
  size: 16px;
  color: #000;
  font-weight: 400;
  font: poppins;
}

.nav-btn {
  /* justify-content: right; */
  text-align: right;
  margin-top: 20px;
}